<link rel="stylesheet" type="text/css" href="../../styles/authenticate.css">

<link rel="stylesheet" type="text/css" href="../../styles/chatpage.css">
<link rel="stylesheet" type="text/css" href="../../styles/footer.css">

<% var path="../../styles/" %>   
<%- include('navbar1'); %>
<style>
    .topnav {
        top:0;
        position: absolute;
    }
    body {
        background-color: #f5f5f5;
    }

</style>
<div class="encloser">
    <div class="authbox">
        <div class="authverify">
            <p>This receiver has requested you to authenticate yourself. Kindly provide OTP to authenticate.</p>
            <br>
            <br>
            <input style="color:black; border-bottom: 1px solid #999;" type="text" name="otpent" id="otpent" placeholder="Enter OTP" pattern="[0-9]{6}">
            <br>
            <br>
            <button type="submit" id="authentication" class="authsubmit">Authenticate</button>
        </div>
    </div>
    </div>
    <center>
   <%- include('footer') %>
        </center>
    <style>
        footer {
            bottom:0;
            left:0;
            position:absolute;    
        }
    </style>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

<script>
    $(document).ready(function(){

        $('#authentication').click(function(){

/*            if($('#otpent').val()==<%- res1.otpenter %>)
            {
                window.location.replace('/user/chatpage/'+<%- res1.rece %>)
            }
            else
            {
                alert("incorrect")
            }*/

            $.ajax({
                url:'/user/sendauthen',
                type:'POST',
                data:{otpentered:$('#otpent').val(), rec:<%- res1.rece %>},
                success: function(data) {
                    //location.reload()
                    if(data==1)
                    {
                        location.reload();
                    }
                    else {
                        alert("Invalid otp")
                    }
                }
            })
    })

    })
</script>