
<link rel="stylesheet" type="text/css" href="../../styles/chatpage.css">

<% var path="../../styles/"; %>
<% if(res1[0]) { var finaltime=JSON.stringify(res1[0].created_at); }
    else {
        var finaltime="0";
    }
    %>
<%- include('navbar1'); %>
<br><br><br>
<div id="chat-container">

    <div id="search-container">
        

    </div>

            <div id="conversation-list">
                <div class="user-details">
                    <img src="../../styles/propics/<%= userdet[0].propic %>" alt="Profile pic" class="picture">
                      <div class="details">
                        <br>Number: <%= userdet[0].phone %><br>
                        <br>Status: <%= userdet[0].bio %>
                      </div>
                  </div>
            </div>
            <div id="new-message-container">
                <button id="clearchat">Clear Conversation</button>
            </div>
            <div id="chat-title">
                <span><%= userdet[0].Username %></span>
                <div style=" font-family: 'Times New Roman', Times, serif;" >
                    <button type="button" id="authent" name="authent" class="b">Authenticate</button>
                  </div>

            </div>
            <div id="chat-message-list">
                <% for (i in res1){
                    if(res1[i].sender==locals.id1)
                    { %>
                <div class="message-row you-message">
                    <div class="message-text"><%- res1[i].content %> </div>
                    <div class="message-time"><%- res1[i].created_at; %></div>
                </div>
                <% }
                else { %>
                <div class="message-row other-message">
                    <div class="message-text"><%- res1[i].content %></div>
                    <div class="message-time"><%- res1[i].created_at; %></div>
                </div>
                <% }} %>

            </div>
            <div id="chat-form">
               
                <input type="text" id="message" name="message" placeholder="SEND MESSAGE">
                <div class="send">
                    <div >
                      <button id="send" name="send" type="button" class="btn">SEND</button>
                    </div>
              
        </div>
</div>
</div>
<center>
    <%- include('footer1') %>
</center>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>


<script>
    $(document).ready(function(){

        var finaltime = <%- (finaltime) %>;

        $('#send').click(function(){

            if($('#message').val() == '')
            {
                return false;
            }

            var receiver = <%- (data.rece) %>
            console.log(receiver)
            $.ajax({
                url:'/user/sendmsg',
                type:'POST',
                data:{msg:($('#message').val()), rec: receiver},
                success: function(data) {
                    
                    var texta = `<div class="message-row you-message">
                    <div class="message-text">${data.content}</div>
                    <div class="message-time">${data.created_at}</div>
                </div>`
                $('#message').val("");
                $('#chat-message-list').prepend(texta)
                    //location.reload()
                    //alert(data)
                }
            })
            
        })

        $('#authent').click(function(){

            var receiver = <%- (data.rece) %>
            $.ajax({
                url:'/user/authenticate',
                type:'POST',
                data:{rec: receiver},
                success: function(data) {
                    //location.reload()
                    //alert(data)
                }
            })



        })

        setInterval(function(){
            var receiver = <%- (data.rece) %>;

            $.ajax({
                url: '/user/getnewchat',
                type:'POST',
                data: {rec:receiver, ftime:finaltime},
                success: function(data1) {
                    if(data1=="N")
                        {}
                    else {
                        finaltime = data1.created_at;
                        var texta = `<div class="message-row other-message">
                            <div class="message-text">${data1.content}</div>
                            <div class="message-time">${data1.created_at}</div>
                            </div>`
                        $('#chat-message-list').prepend(texta)
                    }
                }
            })
        }, 4000)

        $('#clearchat').click(function(){
            var receiver = <%- (data.rece) %>;
            $.ajax ({
                url:'/user/clearchat',
                method:'post',
                data:{receiver:receiver},
                success:function(data)
                {
                    $('#chat-message-list').empty()
                }
            })
        })

    })

</script>
