<html>
    <head>

    <title>View Profile</title>
    <link rel="stylesheet" type="text/css" href="../styles/viewprofile.css">
</head>
<body background="../styles/viewprofilebg1.jpg">
	<center>
		<div class="profile">
            
			<img id="dispimg" src="/styles/propics/<%= data[0].propic %>" class="pic">
            <form id="formid" method="post" enctype="multipart/form-data">
            <input type="file" name="picc" id="picc" accept="image/*" >
            </form>
                <label for="picc">Edit profile pic</label>
			<form class="profiler" method="post" id="profiler" onsubmit="updatepro(event)"> 
                <span id = "status"></span>
                <b><input type="text" name="uname" id="uname" value="<%= data[0].username %>" placeholder="Username">
                <input type="email" name="email" id="email" value="<%= data[0].email %>" placeholder="Email ID" disabled>
                <input type="text" name="phone" id="phone"  value="<%= data[0].phone %>" placeholder="Number" disabled>
                <input type="text" name="bio" id="bio" value="<%= data[0].bio %>" placeholder="Bio"></b>
                <button class="button5" type="submit" name="submit">Save Changes</button>
            </form>
		</div>
	</center>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script>


        /*var loadfile = function(event) {
	    var image = document.getElementById('dispimg');
        image.src="https://www.w3schools.com/images/lamp.jpg"
	    image.src = URL.createObjectURL(event.target.files[0]);
};*/

        /*function updatepro()
        {
                var myform1 = document.getElementById("profile");
                //console.log(myform1)
                var fd1 = new FormData(myform1);
                var formDataObj1 = Object.fromEntries(fd1.entries())
                delete formDataObj1.picc;
                console.log('formdataobj1'+JSON.stringify(formDataObj1));
                $.ajax('/user/updatepro', {
                type: 'POST', 
                data: formDataObj1,
                /*contentType: false,
                processData: false,
                success: function (data) {
                    //login(1);
                    //alert(data);
                    //window.location.href="";
                    alert(data);
                    },
                error: function (jqXhr, textStatus, errorMessage) {
                        $('p').append('Error' + errorMessage);
                        console.log(errorMessage);
                    }
                })



        }*/

        function updatepro(e){
                var myform1 = document.getElementById("profiler");
                console.log(myform1)
                var fd1 = new FormData(myform1);
                var formDataObj1 = Object.fromEntries(fd1.entries())
                console.log(formDataObj1);
                e.preventDefault();
                $.ajax('/user/updatepro', {
                type: 'POST', 
                data: formDataObj1,
                success: function () {
                    //login(1);
                    //alert(data);
                 alert("done");   
                 console.log("op")
                },
                error: function (jqXhr, textStatus, errorMessage) {
                        $('p').append('Error' + errorMessage);
                        console.log(errorMessage);
                    }
                })
            }

$(document).ready(function(){

var formdata; 

function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
      $('#dispimg').attr('src', e.target.result);
    }
    
    reader.readAsDataURL(input.files[0]); // convert to base64 string
  }
}

$('#picc').change(function(){
    formdata = new FormData();
    if($(this).prop('files').length > 0)
    {
        file =$(this).prop('files')[0];
        /*var reader = new FileReader();
        reader.onload = function() {
        $('#dispimg').attr('src', reader.result);
        }*/
        //console.log(JSON.stringify(file))
        //$('#dispimg').attr('src', JSON.stringify(file))
        readURL(this)
        formdata.append("picc", file);
    }
    console.log(formdata);
    $('#formid').submit();
})

$('#formid').submit(function(e){

    e.preventDefault();
    $.ajax('/user/updatepropic/',{
    
    type: "POST",
    data: formdata,
    processData: false,
    contentType: false,
    success: function () {
      alert("Image uploaded"); 
    }
  });
})

})

/*$(document).ready(function() {

$('#picc').change(function() {
   $("#status").empty().text("File is uploading...");
   $(this).ajaxSubmit({
       error: function(xhr) {
   status('Error: ' + xhr.status);
       },

       success: function(response) {
   $("#status").empty().text(response);
           console.log(response);
       }
});
   //Very important line, it disable the page refresh.
return false;
});    
});*/

    </script>
</body>

    
</html>